{% extends 'index.html' %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <a class="navbar-brand" href="{% url 'customer-homepage' %}">{{request.user}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'wish-list' %}">Wish List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{request.user}}'s Cart</a>
        </li>
        <li class="nav-item dropdown">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categoris
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for obj in category %}
              <li><a class="dropdown-item category" pid="{{obj.id}}">{{obj.category_name}}</a></li>
              {% endfor %}
            </ul>
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'saller-logout' %}">Log out</a>
        </li>
      </ul>
    </div>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchinput">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchinput">Search</button>
      </form>
</nav>
{% endblock navbar %}


{% block content %}
<div class="jumbotron m-5">
    <h1 class="display-4">{{request.user}}'s Cart</h1>
    <p class="lead">Here are products...</p>
    <p class="lead" id="total">Total amount : ₹<span id="total">{{total_price.total}}</span></p>
    <hr class="my-4 mt-5">  
</div>
<div class="main"></div>
{% for cart_product in cart_list %}
<div class="jumbotron m-5 mt-5 hide">
  <img src="{{cart_product.products.product_image.url}}" class="image_container" alt="" width="250px" height="250px"> 
  <h1 class="display-4" id="product_name">{{cart_product.products.product_name}}</h1> 
  <p class="lead">{{cart_product.products.product_discription}}</p>
  <hr class="my-4">
  <p class="price" pid="{{cart_product.products.product_price}}">₹{{cart_product.products.product_price}}</p>
  <p>{{cart_product.products.product_category}}</p>
  <p>Quantity :
    <a href="#" class="text-dark minus" pid="{{cart_product.id}}" >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
      <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
    </svg></a>
     <span class="quantity" value="{{cart_product.products.quantity}}">{{cart_product.quantity}}</span>
     <a href="" class="text-dark plus" pid="{{cart_product.id}}" val="{{cart_product.products.quantity}}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg></a>
  </p>
  <p>{{cart_product.user}}</p>
  <a class="btn btn-primary btn-lg" href="{% url 'details' cart_product.products.id %}" role="button">Details</a>  
  <!-- <a class="btn btn-warning btn-lg" href="{% url 'buy-product' cart_product.products.id %}" role="button">Buy now</a> -->
  <form action="{% url 'buy-product' cart_product.products.id %}" method="POST" class="d-inline mx-1">
    {% csrf_token %}
    <button class="btn btn-warning btn-lg">Buy now</button>
  </form>
  <form action="{% url 'remove-from-cart' cart_product.id %}" method="POST" class="d-inline mx-1">
    {% csrf_token %}
    <button class="btn btn-info btn-lg">Remove from cart</button>
  </form>

</div>
{% endfor %}
{% endblock content %}

{% block paginator %}
    {% if is_paginated %}
      <div class="m-4">
        <nav>
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a></li>
                {% endif %}
                  <li class="page-item"><a href="#" class="page-link">{{page_obj.number}}</a></li>
              {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a></li>
                {% endif %}
            </ul>
        </nav>
      </div>
    {% endif %}
{% endblock paginator %}


