{% extends 'index.html' %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <a class="navbar-brand" href="{% url 'customer-homepage' %}">{{request.user}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'wish-list' %}">Wish List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cart' %}">{{request.user}}'s Cart</a>
        </li>
        <li class="nav-item dropdown">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'saller-logout' %}">Log out</a>
        </li>
      </ul>
    </div>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
</nav>
{% endblock navbar %}
{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="">
          <div class="card text-black">
            <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
            <img
              src="{{product.product_image.url}}"
              class="card-img-center m-auto"
              alt="product image"
              width="400px"
              height="400px"
            /><br>
            <div class="card-body">
              <div class="text-center">
                <h3 class="card-title">{{product.product_name}}</h3><br>
                <p class="text-muted mb-4">{{product.product_discription}}</p>
              </div>
              <div>
              <div class="d-flex justify-content-between total font-weight-bold mt-4">
                <span>Total</span><span>₹{{product.product_price}}</span><br>
                <p>Add By :</p><p class="text-muted mb-4">{{product.user}}</p>
                <p>Quantity :</p><p class="text-muted mb-4">{{product.quantity}}</p>
              </div><br>
              <h3 class="card-title">Product reviews:</h3><br>
              {% for comment in comments %}
              <h6>Comment By : {{comment.user}}</h6>
              <p class="text-muted m-3">{{comment.comments}}</p>
              {% endfor %}
            </div>
          </div>
        </div><br>
        {% if product.id in ordered %}
        <h4>Rate this product :</h4><br>
        <form action="" method="POST">
          {% csrf_token %}
          <input class="form-check-input" type="radio" name="rate" id="flexRadioDefault1" value="1">
          <label class="form-check-label">1</label>
          <input class="form-check-input" type="radio" name="rate" id="flexRadioDefault2" value="2">
          <label class="form-check-label">2</label>
          <input class="form-check-input" type="radio" name="rate" id="flexRadioDefault2" value="3">
          <label class="form-check-label">3</label>
          <input class="form-check-input" type="radio" name="rate" id="flexRadioDefault2" value="4">
          <label class="form-check-label">4</label>
          <input class="form-check-input" type="radio" name="rate" id="flexRadioDefault2" value="5">
          <label class="form-check-label">5</label><br>
          <hr>
          <label for="">Discribe your review:</label><br><br>
          <textarea name="comments" id="" cols="174" rows="10"></textarea><br><br>
          <input type="submit" class="btn btn-success" value="Submit">
        </form>
        {% endif %}
      </div>
    </div>
  </section>
{% endblock content %}

{% block paginator %}
{% endblock paginator %}


