{% extends 'index.html' %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <a class="navbar-brand" href="{% url 'saller-dashboard' %}">{{request.user}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'add-product' %}">Add product</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" href="#">Link</a> -->
        </li>
        <li class="nav-item dropdown">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categoris
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for obj in category %}
              <li><a class="dropdown-item seller-category" pid="{{obj.id}}">{{obj.category_name}}</a></li>
              {% endfor %}
            </ul>
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'saller-logout' %}">Log out</a>
        </li>
      </ul>
    </div>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="sellersearchinput">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="sellersearchbtn">Search</button>
      </form>
</nav>
{% endblock navbar %}
{% block content %}
<div class="jumbotron m-5">
    <h1 class="display-4">Welcome {{request.user}}</h1>
    <p class="lead">Here are your products...</p>
    <hr class="my-4 mt-5">
</div>
<div class="main"></div>
{% for seller_product in seller_list %}
<div class="jumbotron m-5 mt-5 hide">
  <img src="{{seller_product.product_image.url}}" class="image_container" alt="" width="250px" height="250px"> 
  <h1 class="display-4" id="product_name">{{seller_product.product_name}}</h1> 
  <p class="lead">{{seller_product.product_discription}}</p>
  <hr class="my-4">
  <p>₹{{seller_product.product_price}}</p>
  <p>{{seller_product.product_category}}</p>
  <p>Quantity : {{seller_product.quantity}}</p>
  <p>{{seller_product.user}}</p>
  <a class="btn btn-primary btn-lg" href="{% url 'seller-details' seller_product.id %}" role="button">Details</a>  
  <a class="btn btn-warning btn-lg" href="{% url 'edit-product' seller_product.id %}" role="button">Edit</a>
  <a class="btn btn-danger btn-lg" href="{% url 'delete-product' seller_product.id %}" role="button">Delete</a>
</div>
{% endfor %}
<script defer src="{% static 'js/filter.js' %}"></script>
{% endblock content %}
{% block paginator %}
{% endblock paginator %}


